In [1]:
import pandas as pd

In [3]:
database2 = pd.read_csv('database2.csv')

In [5]:
company_data1 = database2[(database2['Company'] == 'Zara')]

In [6]:
company_data1

,Company,Description,Rating,Category,Response Rate,Average Response Rate,Solution Rate,Average Avaluation,Customer Retention
795,Zara,Unsatisfactory,19.0,fashion and jewelery shopping,"12,5%",4%,"12,6%",38%,"51,4%"

In [15]:
company_data1["Category"].values[0]

'fashion and jewelery shopping'